{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="w-full md:w-10/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12 mx-auto">
		<div class="flex justify-center">
			<a class="md:hidden p-4 hover:bg-neutral-100 active:bg-neutral-200 transition rounded-sm" href="{{ path('home.home') }}"><img src="{{asset('logo.svg')}}" alt="Logo" class="w-24"></a>
		</div>
		<h1 class="text-center w-full mb-12 mt-6 md:mt-12">Mot de passe oublié</h1>
		<div class="card md:m-8 mb-8">
			<div class="card-body">
				{{ form_start(forgotPasswordForm) }}
				{{ form_row(forgotPasswordForm.email) }}
				<div class=" flex justify-center mt-8">
					{{ form_row(forgotPasswordForm.submit) }}
				</div>
				{{ form_end(forgotPasswordForm) }}
				<div class="flex justify-center my-2">
					<a href="{{ path('security.login') }}">Retourner sur le formulaire de connexion</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
