{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe
{% endblock %}

{% block body %}
	<div class="w-full md:w-10/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12 mx-auto">
		<div class="flex justify-center">
			<a class="md:hidden p-4 hover:bg-neutral-100 active:bg-neutral-200 transition rounded-sm" href="{{ path('home.home') }}"><img src="{{asset('logo.svg')}}" alt="Logo" class="w-24"></a>
		</div>
		<h1 class="text-center w-full mb-12 mt-6 md:mt-12">Réinitialiser son mot de passe</h1>
		<div class="card md:m-8 mb-8">
			<div class="card-body">
				{{ form_start(resetPasswordForm) }}
				{{ form_row(resetPasswordForm.password) }}
				<div class=" flex justify-center mt-8">
					{{ form_row(resetPasswordForm.submit) }}
				</div>
				{{ form_end(resetPasswordForm) }}
			</div>
		</div>
	</div>
{% endblock %}
