{% extends 'base.html.twig' %}

{% block title %}
	{{ figure.name }}
{% endblock %}

{% block body %}
	<div id="hero" class="flex items-start justify-center relative">
		<div class="bg-cover blur-lg absolute top-0 right-0 left-0 bg-center h-[700px] w-full" style="background-image:url({{ asset('images/snow.jpg') }})"></div>
		<div class="rounded-sm z-10 bg-white border-1 border-neutral-700 md:!mt-24 block w-full md:w-[992px]" style="margin:0.75rem;">
			<div class="relative h-[400px] bg-center bg-cover" style="background-image:url({{ asset(figure.getFeaturedPhoto() ? 'upload/' ~ figure.getFeaturedPhoto() : 'tricks-default.jpg') }});">
				<div class="flex flex-col justify-center items-center h-full">
					<p class="text-7xl text-white mix-blend-difference text-center font-bold pb-8">{{ figure.name }}</p>
				</div>
				{% if is_granted('ROLE_USER') %}
					<div class="border absolute top-2 right-2 p-1 bg-white/70 rounded-sm">
						<a class="btn" href="{{ path('figure.update', {id:figure.id,slug:figure.getSlug()}) }}">
							<i class="fa-solid fa-pencil"></i>
						</a>
						<a class="btn" href="{{ path('figure.delete', {id:figure.id,slug:figure.getSlug()}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ?');">
							<i class="fa-solid fa-trash"></i>
						</a>
					</div>
				{% endif %}
			</div>
			<div id="medias" class="my-3 mx-4 hidden md:flex space-x-2 overflow-x-auto">
				{% for photo in figure.photos %}
					<a class="hover:!border-neutral-700 border-transparent border-2 w-[150px] flex justify-center items-stretch h-28 bg-center bg-cover bg-no-repeat flex-shrink-0 flex-none" target="_blanck" style="background-image:url({{ asset('upload/' ~ photo.path) }});" href="{{ asset('upload/' ~ photo.path) }}"></a>
				{% endfor %}
				{% for video in figure.videos %}
					<iframe class="mt-[2px] flex-shrink-0 flex-none" width="150" height="108" src="{{ video.path }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				{% endfor %}

				{% if figure.photos|length == 0 and figure.videos|length == 0 %}
					<p class=" text-base font-medium">Aucun média présent sur cette fiche.</p>
				{% endif %}
			</div>
			<div class="my-3 mx-4 md:hidden flex justify-center items-center">
				<button id="showMedia" class="btn btn-primary">Voir les médias</button>
			</div>
			<p class="my-12 mx-20 text-justify text-base font-medium">{{ figure.description }}</p>
			<div class="flex flex-wrap my-6 justify-center gap-2 mx-4 border-b pb-6">
				<span class="badge text-bg-primary !text-base">{{ figure.category.name }}</span>
				<span class="badge text-bg-secondary !text-base">Créer le :
					{{ figure.createdAt|date('d/m/Y') }}</span>
				<div class="badge text-bg-secondary !text-base !flex !items-center">
					<p class="m-0">Créer par :</p>
					{% if figure.createdBy.photo %}
						<img class="rounded-full h-5 ml-2 mr-1" src="{{ asset('upload/' ~ figure.createdBy.photo) }}" alt="avatar">
					{% endif %}
					<p class="m-0 pl-1">{{ figure.createdBy.username }}</p>
				</div>
				{% if figure.createdAt != figure.updatedAt %}
					<span class="badge text-bg-secondary !text-base">Mis à jour le :
						{{ figure.updatedAt|date('d/m/Y') }}</span>
					<div class="badge text-bg-secondary !text-base !flex !items-center">
						<p class="m-0">Mis à jour par :</p>
						{% if figure.updatedBy.photo %}
							<img class="rounded-full h-5 ml-2 mr-1" src="{{ asset('upload/' ~ figure.updatedBy.photo) }}" alt="avatar">
						{% endif %}
						<p class="m-0 pl-1">{{ figure.updatedBy.username }}</p>
					</div>
				{% endif %}
			</div>
			{% if is_granted('ROLE_USER') %}
				<div class="my-6 mx-4 flex justify-center text-nowrap border-b pb-6">
					{{ form(createMessageForm, {attr:{class:'flex justify-center items-center gap-4 w-full'}}) }}
					</div>
				{% endif %}
				<div class="my-6 mx-4 md:px-20 flex flex-col gap-2">
					{% for message in messages %}
						<div id="message_{{message.id}}" class="flex items-start gap-2">
							<div class="flex flex-col justify-center items-center w-28">
								{% if message.user.photo %}
									<img class="rounded-full h-6 w-6" src="{{ asset('upload/' ~ message.user.photo) }}" alt="avatar">
								{% endif %}
								<p class="m-0 text-xs mt-1 flex">{{ message.user.username }}</p>
							</div>
							<div class="flex py-1 px-2 w-full relative border flex-col justify-center items-start ml-4">
								<div class="absolute top-[2px] flex right-[2px]">
									<a onclick="return confirm('Êtes-vous sûr de vouloir signaler ce message ?');" href="{{ path('messages.report', {id:message.id}) }}" class="report"></a>
									{% if message.user == app.user %}
										<a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce message ?');" href="{{ path('messages.delete', {id:message.id}) }}" class="delete"></a>
									{% endif %}
								</div>
								<p class="m-0 text-base pr-2">{{ message.message }}</p>
								<p class="m-0 text-xs mt-1 pr-2">{{ message.createdAt|date('d/m/Y H:i') }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
				{% set pageSelected = page < lastPage ? page + 1 : false %}
				{% if pageSelected %}
					<div class="flex justify-center m-4">
						<a href="{{ path( 'figure.read', {id:app.request.attributes.get('id'), slug:app.request.attributes.get('slug'), page:pageSelected} ) }}#discussion-bottom" class="btn btn-secondary !text-white">Charger plus ...</a>
					</div>
				{% else %}
					<div class="flex justify-center m-4">
						<p class="text-base font-medium">Aucun message supplémentaire à charger.</p>
					</div>
				{% endif %}
				<div id="discussion-bottom"></div>
			</div>
		</div>
	{% endblock %}
